// CountriesPage.module.scss
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.overflowXAuto {
  overflow-x: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}