// components/ImageCard/ImageCard.module.scss

@use "@/styles/variables" as *;
@use "@/styles/utils" as *;

.imageButton {
  position: relative;
  border: 1px solid $color-gray-300;
  border-radius: $border-radius-lg;
  overflow: hidden;
  cursor: pointer;
  max-width: 300px;
}

.imageButtonSelected {
  border-color: $color-blue-500; // Tailwind's border-blue-500
}

.image {
  width: 100%;
  height: auto;
}

.selectedOverlay {
  position: absolute;
  inset: 0;
  @include background-color-opacity($color-blue-500, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmark {
  color: $color-white;
  font-weight: bold;
  font-size: $font-size-lg; // Tailwind's text-lg
}