// CityPage.module.scss
@use "@/styles/variables" as *;

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.pageContent {
  margin-top: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detailsTitle {
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: underline;
}

.flexItemsCenter {
  display: flex;
  align-items: center;
  border: 1px solid $color-gray-300;
  border-radius: 0.25rem;
  overflow: hidden;
}

.wikiInfo {
  margin-top: 1rem;
}

.wikiTitle {
  font-size: 1.125rem;
  font-weight: 700;
}

.wikiLink {
  color: $color-blue-500;
  &:hover {
    text-decoration: underline;
  }
}

.imageGridContainer {
  height: calc(100% - 120px); // Adjust as needed to fit the available area
  overflow-y: auto; // Enable vertical scrolling if content is too long
}