// FormInput.module.scss
@use "@/styles/variables" as *;

.formInputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: $color-gray-700;
}

.input {
  border: 1px solid $color-gray-300;
  padding: 0.5rem;
  border-radius: $border-radius-md;
  &:focus {
    outline: 2px solid $color-blue-500;
    border-color: $color-blue-500;
  }
  &:required {
    border-color: $color-red-500;
  }
  &:read-only {
    background-color: $color-gray-100;
    cursor: not-allowed;
  }
}