@use "@/styles/variables" as *;

.masonry {
  column-count: 5; // Number of masonry columns
  padding: 16px;

  @media (max-width: 1024px) {
    column-count: 4;
  }

  @media (max-width: 600px) {
    column-count: 2;
  }

}

.masonryItem {
  display: inline-block;
  margin-bottom: 16px;
  break-inside: avoid;

  img {
    width: 100%; // Image takes full width
    height: auto; // Keeps aspect ratio
    max-height: 200px; // Ensures images are visually consistent
  }
}


