// components/PhotoManager/PhotoManager.module.scss
@import "@/styles/variables";

.photoManager {
  .loadingIcon {
    font-size: 1rem;
    color: $color-gray-500;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .noPhotos {
    margin-top: 1.5rem;
    color: $color-gray-500;
  }
}