.pageTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.formActions {
  display: flex;
  padding: 0 1rem;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}