@use "@/styles/variables" as *;
@use "@/styles/utils" as *;

@import "@/styles/reset";

body {
  font-family: $font-sans;
  background-color: $color-gray-100;
  height: 100%;
}

main {
  flex: 1;
}

h1 {
  color: $color-gray-800;
}

/* FA spinner styles.css */
.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

