.collectionContainer {
  width: 100%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.emptyMessage {
  font-size: 18px;
  color: #777;
  margin-top: 20px;
}

.collectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addPhotosButton {
  flex: 1;
  justify-content: left;
  display: flex;
}

.bulkActions {
  flex: 1;
  justify-content: center;
  display: flex;
}

.uploadLink {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}