.collectionContainer {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.emptyMessage {
  font-size: 18px;
  color: #777;
  margin-top: 20px;
}

.collectionHeader {
  display: flex;
  button {
    margin-left: auto;
  }
}