@use "@/styles/variables" as *;

.localNav {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.backButton {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  background-color: $color-gray;
  border: none;
  cursor: pointer;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navList li {
  padding: 0.5rem 1rem;
}

.navList li a {
  text-decoration: none;
  color: $color-black;
}

.navList li.active {
  background-color: $color-blue-500;
  color: $color-white;
  border-radius: 4px;
}