// components/Modal/Modal.module.scss
@use "@/styles/variables" as *;

.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(31, 41, 55, 0.75); // Tailwind's bg-gray-800 bg-opacity-75
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: $color-white;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow-lg;
  padding: 1.5rem;
  position: relative;
  height: 80vh;
  width: 80vw;

  > button:first-child {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}

.imageSearchModalContent {
  overflow: auto;
  height: 100%;
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.modalBody {
  max-height: 100vh;
  height: 100%;
}