// components/DataTable/DataTable.module.scss
@use "@/styles/variables" as *;

.dataTable {
  width: 100%;
  min-width: 100%;
  border: 1px solid $color-gray-300;
  border-collapse: collapse;
}

.dataTableHeader {
  background-color: $color-gray-100;
}

.dataTableHeaderCell {
  padding: 0.5rem 1rem;
  text-align: left;
  &.sortable {
    cursor: pointer;
    &:hover {
      color: $color-blue-500;
    }
  }
}

.dataTableHeaderActionCell {
  padding: 0.5rem 1rem;
  text-align: center;
  width: 150px;
}

.dataTableRow {
  a {
    color: $color-blue-500;
    &:hover {
      text-decoration: underline;
    }
  }

  &:nth-child(even) {
    background-color: $color-gray-50;
  }
}

.dataTableCell {
  padding: 0.5rem 1rem;
}

.dataTableActionCell {
  padding: 0.5rem 0;
  max-width: 150px;
}

.noData {
  text-align: center;
  padding: 1rem;
}